html {
  background: rgba(05, 75, 230, 0.3);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  background: url(image/box3.jpg);
  width: 50rem;
  height: 50rem;
  border: 20px black;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 5px;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
}

.second-hand {
  background: red;
  height: 2px;
}

.hour-hand {
  background: blue;
  height: 5px;
}

.numbers {
  font-family: monospace;
  font-size: 5rem;
  color: rgba(276, 2, 106, 0.9);
  font-weight: bolder;
}

.twelve {
  position: absolute;
  top: -1%;
  right: 46.5%;
}

.six {
  position: absolute;
  bottom: 0%;
  right: 47.5%;
  margin-bottom: 5px;
}

.nine {
  position: absolute;
  top: 42.5%;
  left: 2%;
}

.three {
  position: absolute;
  top: 42.5%;
  right: 2%;
}

.mid-point {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  top: 49%;
  right: 49%;
}
